/*all*/
* {
    margin: 0;
    padding: 0;
  } /*all*/
  
  html {
    scroll-behavior: smooth;
  }
  
  a {
    /*navbar*/
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    height: 13vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
  } /*navbar*/
  
.about h1{
    color: var(--dark, #1c1c1c);
    font-family: Oleo Script Swash Caps;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
}

.about hr{
    height: 2px;
    width: 112px;
    background: #d17542;
    margin: 0;
    border: none;
    border-top: 1px;
    margin-top: 11px;
    margin-bottom: 41px;
    margin-left: 620px;
}
.about p{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
    color: var(--texto, #7d7d7d);
  
    /* subt 2 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about .imgsA{
   display: flex;
justify-content: space-evenly;
}
/* Estilos para o footer */
footer {
    display: flex; /* Usamos flexbox para alinhar os grids lado a lado */
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
  margin-top: 100px;
  }
  
  /* Estilos para os grids */
  .grid-item {
    flex: 1; /* Cada grid ocupa a mesma largura disponível */
    background-color: #000000;
    color:#7D7D7D;
    padding: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .gridImgC {
    text-align: center;
  }
  
  /* Estilos para a seção de informações de contato */
  .contact-info {
    background-color: #000000;
    color: #7D7D7D;
    padding: 10px;
    text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  
  }
  .contact-info h3{
    color: white;
    font-family: Oleo Script Swash Caps;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 50px;
  }
  .final{
  background-color: #313131;
  color: #FFFFFF;
  font-family: Poppins;
  }
  
  .socialM{
    margin-left: 1102px;
  }
  .direitos{
    text-align: center;
  }
  
  