/*all*/
* {
    margin: 0;
    padding: 0;
  } /*all*/
  
  html {
    scroll-behavior: smooth;
  }
  
  a {
    /*navbar*/
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    height: 13vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
  } /*navbar*/
  
  .dinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Colunas com espaço entre elas */
    margin-left: 250px;
    margin-right: 250px;
  }
  
  .dinner h3 {
    font-family: Oleo Script Swash Caps;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .dinner p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .item {
    width: calc(50% - 10%); /* Largura de cada coluna */
    margin-bottom: 20px; /* Espaçamento entre as colunas */
    box-sizing: border-box; /* Inclui padding e borda na largura */
  }
  .top {
    width: 100%;
  }
  
  .dinner h1 {
    height: 65px;
    color: var(--dark, #1c1c1c);
    font-family: Oleo Script Swash Caps;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
  }
  
  .dinner hr {
    height: 2px;
    width: 129px;
    background: #d17542;
    margin: 0 auto; /* Centralizar horizontalmente */
    border-top: 1px;
    margin-top: 41px;
    margin-bottom: 71px;
  }
  /* Estilos para o footer */
  footer {
    display: flex; /* Usamos flexbox para alinhar os grids lado a lado */
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
  }
  
  /* Estilos para os grids */
  .grid-item {
    flex: 1; /* Cada grid ocupa a mesma largura disponível */
    background-color: #000000;
    color: #7d7d7d;
    padding: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .gridImgC {
    text-align: center;
  }
  
  /* Estilos para a seção de informações de contato */
  .contact-info {
    background-color: #000000;
    color: #7d7d7d;
    padding: 10px;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .contact-info h3 {
    color: white;
    font-family: Oleo Script Swash Caps;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 50px;
  }
  .final {
    background-color: #313131;
    color: #ffffff;
    font-family: Poppins;
  }
  
  .socialM {
    margin-left: 1102px;
  }
  .direitos {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    nav {
      flex-direction: row;
    }
  
    .nav-list {
      flex-direction: row;
    }
  
    .nav-list li {
      margin: 0 15px;
    }
  }
  @media screen and (min-width: 768px) {
    .item {
      width: calc(50% - 20px);
    }
  }
  @media screen and (min-width: 768px) {
    footer {
      flex-direction: row;
    }
  }
  